ReadifyKnockKnockWebServiceTests/Service References/KnockService/Knock.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://knocknock.readify.net" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://knocknock.readify.net" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://knocknock.readify.net/Imports">
      <xsd:import schemaLocation="http://localhost:53929/Knock.svc?xsd=xsd0" namespace="http://knocknock.readify.net" />
      <xsd:import schemaLocation="http://localhost:53929/Knock.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKnock_GetToken_InputMessage">
    <wsdl:part name="parameters" element="tns:GetToken" />
  </wsdl:message>
  <wsdl:message name="IKnock_GetToken_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTokenResponse" />
  </wsdl:message>
  <wsdl:message name="IKnock_Fibonacci_InputMessage">
    <wsdl:part name="parameters" element="tns:Fibonacci" />
  </wsdl:message>
  <wsdl:message name="IKnock_Fibonacci_OutputMessage">
    <wsdl:part name="parameters" element="tns:FibonacciResponse" />
  </wsdl:message>
  <wsdl:message name="IKnock_ReverseWords_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWords" />
  </wsdl:message>
  <wsdl:message name="IKnock_ReverseWords_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseWordsResponse" />
  </wsdl:message>
  <wsdl:message name="IKnock_TriangleType_InputMessage">
    <wsdl:part name="parameters" element="tns:TriangleType" />
  </wsdl:message>
  <wsdl:message name="IKnock_TriangleType_OutputMessage">
    <wsdl:part name="parameters" element="tns:TriangleTypeResponse" />
  </wsdl:message>
  <wsdl:portType name="IKnock">
    <wsdl:operation name="GetToken">
      <wsdl:input wsaw:Action="http://knocknock.readify.net/IKnock/GetToken" message="tns:IKnock_GetToken_InputMessage" />
      <wsdl:output wsaw:Action="http://knocknock.readify.net/IKnock/GetTokenResponse" message="tns:IKnock_GetToken_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Fibonacci">
      <wsdl:input wsaw:Action="http://knocknock.readify.net/IKnock/Fibonacci" message="tns:IKnock_Fibonacci_InputMessage" />
      <wsdl:output wsaw:Action="http://knocknock.readify.net/IKnock/FibonacciResponse" message="tns:IKnock_Fibonacci_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseWords">
      <wsdl:input wsaw:Action="http://knocknock.readify.net/IKnock/ReverseWords" message="tns:IKnock_ReverseWords_InputMessage" />
      <wsdl:output wsaw:Action="http://knocknock.readify.net/IKnock/ReverseWordsResponse" message="tns:IKnock_ReverseWords_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TriangleType">
      <wsdl:input wsaw:Action="http://knocknock.readify.net/IKnock/TriangleType" message="tns:IKnock_TriangleType_InputMessage" />
      <wsdl:output wsaw:Action="http://knocknock.readify.net/IKnock/TriangleTypeResponse" message="tns:IKnock_TriangleType_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>